@page "/randpoke"
@using BlazorApp.Data
@* @inject WeatherForecastService ForecastService *@
@inject PokemonService PokeService

<PageTitle>Random Pokemon</PageTitle>

<h1>Random Pokemon</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (poke == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>National</th>
                <th>Gen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@poke.Name</td>
                <td>@poke.National</td>
                <td>@poke.Gen</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private Pokemon? poke;

    protected override async Task OnInitializedAsync()
    {
        poke = await PokeService.GetRandomPokemon();
    }
}
